body {
    font-family: "Poppins", sans-serif;
  }
  .gradient-bg {
    background: linear-gradient(135deg, #e0f7fa 0%, #b2ebf2 100%);
  }
  .service-card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
  }

  /* Profile dropdown visibility with animation */
  .dropdown-menu {
    display: none;
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
  }
  .dropdown-menu.show {
    display: block;
  }

  .hidden-section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
  }

  .show-section {
    opacity: 1;
    transform: translateY(0);
  }

  
  
  #menu {
    background-color: rgb(252, 252, 252); /* White background for visibility */
    z-index: 50; /* Ensure it appears above the hero section */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10%; /* Optional shadow for better separation */
  }
  
  .hamburger-menu {
    z-index: 51; /* Ensure the toggle button remains above the menu */
  }



